@use "sass:math";

//RESPOSIVNESS :

$breakpoints: (
  "tablette": 760px,
  "tablette_sm": 650px,
  "tablette_SM": 510px,
  "mobile_L": 450px,
  "mobile": 375px,
);

@mixin tablette {
  @media (max-width: map-get($breakpoints, "tablette")) {
    @content;
  }
}
@mixin tablette_sm {
  @media (max-width: map-get($breakpoints, "tablette_sm")) {
    @content;
  }
}
@mixin tablette_SM {
  @media (max-width: map-get($breakpoints, "tablette_SM")) {
    @content;
  }
}
@mixin mobile_L {
  @media (max-width: map-get($breakpoints, "mobile_L")) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: map-get($breakpoints, "mobile")) {
    @content;
  }
}

//VARIBALES :
// COLORS
$primaryBlue: hsl(238, 40%, 52%);
$primaryRed: hsl(358, 79%, 66%);
$primaryGrayishBlue: hsl(239, 57%, 85%);
$secondaryRed: hsl(357, 100%, 86%);

$neutralDarkBlue: hsl(212, 24%, 26%);
$neutralGrayishBlue: hsl(211, 10%, 45%);
$neutralLightGray: hsl(223, 19%, 93%);
$lightestGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

// FONTSIZES && WEIGHTS :
$fontSizeParagraph: 16px;

$weightSM: 400;
$weightNM: 500;
$weightBO: 600;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: all 0.4s;
}

body {
  font-family: "Maven Pro", sans-serif;
  line-height: 1;
  background-color: $neutralLightGray;
}

.comment_section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 70rem;
  margin: 6rem auto;
  @include tablette {
    width: 90%;
  }

  .comments_container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 70rem;
    @include tablette {
      width: 100%;
    }

    .comment {
      background-color: $white;
      display: flex;
      align-items: start;
      gap: 2.5rem;

      overflow: hidden;

      padding: 2.5rem;
      width: 100%;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
      transition: all 0.6s;
      // justify-content: center;

      @include tablette_sm {
        padding-bottom: 7rem;
        position: relative;
      }

      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 4rem;
        background-color: $neutralLightGray;
        padding: 1.1rem 0.8rem;
        border-radius: 0.7rem;
        font-size: 1.6rem;
        color: $primaryBlue;
        font-weight: $weightBO;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        button {
          border: none;
          cursor: pointer;
        }

        @include tablette_sm {
          position: absolute;
          flex-direction: row;
          width: auto;
          align-items: center;
          bottom: 1.8rem;
          // left: 0;

          .minus_btn {
            display: flex;
            align-items: center;
          }
        }
      }

      .comment_inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        position: relative;


        .comment_inner-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .comment_inner-details {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.6rem;

            .comment_username {
              color: black;
              font-weight: $weightBO;
            }

            .comment_time {
              color: $neutralGrayishBlue;
              @include tablette {
                font-size: 1.4rem;
              }
            }

            .current_user-endicator {
              color: $white;
              background-color: $primaryBlue;
              font-size: 1.3rem;
              padding: 0.1rem 0.5rem 0.3rem 0.5rem;
              border-radius: 0.5rem;
            }
          }

          .btn {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            background: none;
            border: none;
            color: $primaryBlue;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: $weightBO;
            transition: all 0.3s;
          }
          .reply_btn {
            @include tablette_sm {
              position: absolute;
              bottom: 3rem;
              right: 2.2rem;
            }
          }

          .btns_container {
            display: flex;
            gap: 1.8rem;
            transition: all 0.3s;
            .delete_btn {
              color: $primaryRed;
            }

            @include tablette_sm {
              position: absolute;
              bottom: 3rem;
              right: 2rem;
            }
          }
        }

        .comment_text {
          font-size: 1.5rem;
          color: $neutralGrayishBlue;
          line-height: 2rem;

          .reply_tag {
            color: $primaryBlue;
            font-weight: $weightBO;
          }
        }
      }
    }

    .comment_replies-container {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .replies_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        // margin-top: 1.4rem;
        // height: fit-content;
        border-left: solid 1px $primaryGrayishBlue;
        padding: 0 0 0 4rem;
        margin-left: 4.2rem;
        @include tablette {
          margin-left: 1.2rem;
          padding-left: 1.5rem;
        }
      }
    }
  }

  .add_comment {
    display: flex;
    align-items: start;
    gap: 1.5rem;
    background-color: $white;

    padding: 2.5rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;

    @include tablette_sm {
      position: relative;
      padding-bottom: 7rem;
    }

    .send_comment-btn {
      background-color: $primaryBlue;
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      border: none;
      color: $white;
      font-weight: $weightNM;
      cursor: pointer;
      @include tablette_sm {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }
    }

    img {
      @include tablette_sm {
        position: absolute;
        bottom: 2rem;
      }
    }
  }

  .write_reply {
    transition: all 0.5s;
    transform: translate(0 , -4rem);
    opacity: 0;
    // transform: scale(1.01);
  }

  img {
    height: 3.5rem;
  }
}

.input_comment {
  resize: none;
  width: 100%;
  height: 10rem;
  border: none;
  border: 1px solid $neutralLightGray;
  border-radius: 0.5rem;
  padding: 0.8rem 1.4rem;
  font-size: 1.6rem;
  font-family: inherit;
  // font-size:1.4rem;
}

.delete_modal-container {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  position: sticky;
  bottom: 50%;
  left: 50%;
  transform: translate(0%, 50%);

  .delete-modal {
    position: absolute;

    padding: 2.4rem;
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    width: 40rem;
    font-size: $fontSizeParagraph;
    color: $neutralGrayishBlue;

    @include mobile_L {
      width: 30rem;
    }

    .delete-modal--inner {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .delete_modal-heading {
        font-size: 2.4rem;
        font-weight: $weightBO;
        color: $neutralDarkBlue;
      }
    }

    .delete_btns-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 100%;

      @include mobile_L {
        flex-direction: column;
      }

      .no_btn {
        transition: all 0.4s;
        background-color: $neutralGrayishBlue;
        color: $white;
        padding: 1.5rem 2.5rem;
        border-radius: 1rem;
        border: none;
        font-weight: $weightBO;
        width: 100%;
        cursor: pointer;
      }

      .no_btn:hover,
      .no_btn:active {
        box-shadow: hwb(211 40% 51% / 0.287) 3px 3px 3px;
        transform: scale(1.05);
      }
      .yes_btn {
        background-color: $primaryRed;
        color: $white;
        padding: 1.5rem 2.5rem;
        border-radius: 1rem;
        border: none;
        font-weight: $weightBO;
        width: 100%;
        transition: all 0.4s;
        cursor: pointer;
      }
      .yes_btn:hover,
      .yes_btn:active {
        box-shadow: hsla(358, 79%, 66%, 0.536) 3px 3px 3px;
        transform: scale(1.05);
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/// svgssss
///

.plus_score-svg {
  width: 1.1rem;
  height: 1.1rem;
}

.minus_score-svg {
  width: 1.1rem;
  height: 0.3rem;
}

.reply-svg {
  width: 1.4rem;
  height: 1.3rem;
}

.delete-svg {
  width: 1.2rem;
  height: 1.4rem;
}

.edit-svg {
  width: 1.4rem;
  height: 1.4rem; /* qaq */
}

.hidden {
  display: none;
}

.sumbit_btn {
  background-color: $primaryBlue;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  border: none;
  color: $white;
  font-weight: $weightNM;
  cursor: pointer;
}

//styling placeHolder of textAreas 

textarea::placeholder{
  font-style: italic;
}


//ANImation to a reply added

.reply{
  transition: all 0.9s;
}

// trying something new

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}


// .hide_replies-btn{
//   background: none;
//   border: none;
//   background-color: $lightestGray;
//   border-radius: 48%;
//   cursor: pointer;
  
//   position: absolute;
//   bottom: -30%;
//   right: -5%;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0.8rem;

//   transition: all 0.4s ease-in-out;
  
//   .hide_replies-eyeOpen{
//     height: 3rem;
//     stroke-width: 0.2rem;
//     stroke: $primaryBlue ;
//   }
// }

// .hide_replies-btn:hover{
//   background-color: $primaryBlue;
//   .hide_replies-eyeOpen{
//     stroke: $lightestGray;
//   }
// }

// .hide_replies-btn:active{
//   transition: none;
//   background-color: $primaryRed;
//   .hide_replies-eyeOpen{
//     stroke: $lightestGray;
//   }
// }