//VARIBALES :

// COLORS
$primaryBlue: hsl(238, 40%, 52%);
$primaryRed: hsl(358, 79%, 66%);
$primaryGrayishBlue: hsl(239, 57%, 85%);
$secondaryRed: hsl(357, 100%, 86%);

$neutralDarkBlue: hsl(212, 24%, 26%);
$neutralGrayishBlue: hsl(211, 10%, 45%);
$neutralLightGray: hsl(223, 19%, 93%);
$lightestGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

// FONTSIZES && WEIGHTS :
$fontSizeParagraph: 16px;

$weightSM: 400;
$weightNM: 500;
$weightBO: 600;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Maven Pro", sans-serif;
  line-height: 1;
  background-color: $neutralLightGray;
}

.comment_section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 70rem;
  margin: 3rem auto;
}

.comment {
  background-color: $white;
  display: flex;
  align-items: start;
  gap: 2.5rem;

  padding: 2.5rem;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  // justify-content: center;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: $neutralLightGray;
  padding: 1.1rem 0.8rem;
  border-radius: 0.7rem;
  font-size: 1.6rem;
  color: $primaryBlue;
  font-weight: $weightBO;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  button {
    border: none;
    cursor: pointer;
  }
}

.comment_inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.comment_inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment_inner-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

.comment_username {
  color: black;
  font-weight: $weightBO;
}

.comment_time {
  color: $neutralGrayishBlue;
}

img {
  height: 3.2rem;
}

.reply_btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: none;
  border: none;
  color: $primaryBlue;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: $weightBO;
}

.comment_text {
  font-size: 1.5rem;
  color: $neutralGrayishBlue;
  line-height: 2rem;
}
